<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h3>Hakkımızda</h3>
                <ul>
                    <li><a href="#">Şirketimiz</a></li>
                    <li><a href="#">Kariyer</a></li>
                    <li><a href="#">İletişim</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Yardım</h3>
                <ul>
                    <li><a href="#">SSS</a></li>
                    <li><a href="#">Kullanım Koşulları</a></li>
                    <li><a href="#">Gizlilik Politikası</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Sosyal Medya</h3>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>