<header class="header">
    <div class="container">
        <div class="header-content">
            <a href="/" class="logo">arabamarketim.com</a>
            
            <% if (typeof showSearchBar === 'undefined' || showSearchBar === true) { %>
            <!-- Show search bar only if showSearchBar parameter is true or not defined -->
            <div class="search-bar">
                <form action="/search" method="GET">
                    <input type="text" name="q" placeholder="Lastik ara...">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <% } %>
            
            <div class="profile-container">
                <button class="profile-icon">
                    <img src="<%= user.fotourl %>" alt="Profile Picture"
                        onerror="this.onerror=null; this.src='/images/user.png'">
                </button>
                <div class="header-buttons">
                    <a href="/publish">İlan Ver</a>
                </div>
                <div class="dropdown">
                    <a href="/profile">Bilgilerim</a>
                    <a href="/my-adverts">İlanlarım</a>
                    <a href="/logout">Çıkış Yap</a>
                </div>
            </div>
        </div>
    </div>
</header>